# =============================
# Stage 4 Final Setup
# =============================

# Exclude large datasets & media
images/
mpii_human_pose_v1_u12_2/
*.mp4
*.jpg
*.zip

#Exclude Python cache & env
__pycache__/
*.pyc
.venv/
venv/
env/

#Exclude IDE/project files
.idea/
.vscode/
# Ignore generated final overlays
outputs/final_overlays/
# Ignore outputs pose and training folders
outputs/pose/
outputs/training_20251120_131932/


# Virtual environments
myenv/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env